# Xcode
xcuserdata/
DerivedData/
build/
*.xcuserstate
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# App packaging
*.ipa
*.dSYM
*.dSYM.zip
*.xcarchive

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage
Pods/
Carthage/Build/

# macOS
.DS_Store

# Temporary files
*.tmp
*.log

# Clickteam Fusion
*.bak
*.cache
